<html>
<head>
  <title>Curso Vue.js</title>
</head>
<body>
  <div id="app">
    <form @submit.prevent="submit" action="">
      <h2>¿Cuáles son tus cursos favoritos?</h2>
      <template v-for="curso in cursos">
        <br>
        <input v-model="cursosSeleccionados" type="checkbox" :id ="curso.value" :value="curso.value">
        <label :for="curso.value">{{ curso.nombre }}</label>
      </template>      
      <hr>
      <button type="submit">Enviar</button>
    </form>
  </div>

  <script src="https://unpkg.com/vue"></script>
  <script type="text/javascript">
    let app = new Vue({
      el: '#app',
      data: {
        cursos: [
          {
            nombre: 'Curso de Introducción a Vue.js',
            value: 'vue'
          },
          {
            nombre: 'Curso de SEO',
            value: 'seo'
          },
          {
            nombre: 'Curso de React.js',
            value: 'react'
          },
          {
            nombre: 'Curso de Marketing',
            value: 'marketing'
          }
        ],
        cursosSeleccionados: []
      },
      methods: {
        submit: function(){
          console.log(this.cursosSeleccionados)
        }
      }
    })
  </script>
</body>
</html>